@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap");
@import url("#//basehold.it/25");

html {
  font-family: "Roboto Condensed" , Arial , Georgia , sans-serif , Times;
  font-size: 1.25em;
  padding: 1em;

  background-color: #E6E6FA;
}

h1 {
  padding-bottom: .5em;
}

h2 {
  padding-bottom: .5em;
}

h1 {
  font-size: 100%
}


h2 {
    font-size: 90%;
}

label, input {
    display: block;
}

label {
    margin-bottom: 20px;
}
